doctype html
html(lang="ru=RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        link(href="https://fonts.googleapis.com/css?family=Arsenal:400,700&amp;subset=cyrillic" rel="stylesheet")
        link(rel="stylesheet" href="css/style.css")



    body
        .title
            .wrapper
                h1 Анализ состава массы тела
                    |
                    |
                    span.title--up.title--norm бесплатно
                    |
                    br
                    |
                    | и установка
                    |
                    |
                    span.title--norm лечебной
                    |
                    |
                    | серьги для похудения
                    |
                    |
                    span.title--norm за
                    |
                    |
                    span.title--cross 5 600
                    |
                    |
                    | 560 ₽
        header
            .left-block
                .attention
                    h3
                        |
                        strong Внимание!
                        |
                        | До конца акции осталось:
                    .time--items
                        .time--item
                            span.time--count.time--count--red 25
                            span.time--definition дней
                        .time--item
                            span.time--count 18
                            span.time--definition часов
                        .time--item
                            span.time--count 37
                            span.time--definition минут
                        .time--item
                            span.time--count 49
                            span.time--definition сукунд
                .proposal
                    .sale
                        span.sale--title скидка
                        span.sale--count -90%
                        span.old-price.old-price--title старая цена
                        span.old-price.old-price--count 5 600
                        .new-price
                            span.new-price--title новая
                                |
                                |
                                br
                                |
                                | цена
                            span.new-price--count 560
                                span ₽
            .right-block
                .register
                    h3 Запишитесь на
                        |
                        |
                        span.title--red.title--up бесплатный
                        |
                        |
                        span.title--red анализ состава массы тела
                        |
                        | и установите лечебную
                        |
                        span.title--red серьгу для похудения за 560 ₽
                    form.form
                        .form-group
                            label(for='name') Ваше имя
                            input#name(type='text' name='' placeholder='Алла' maxlength='70' required)
                        .form-group
                            label(for='number') Ваш телефон
                            input#number(type='text' name='' placeholder='8 800 123 45 67' maxlength='20')
                        .person
                            .form-group
                                label(for='growth') Ваш рост
                                input#growth(type='text' name='' maxlength='3' placeholder='165' pattern="[0-9]{,3}")
                            .form-group
                                label(for='weight') Ваш вес
                                input#weight(type='text' name='' maxlength='3' placeholder='65' pattern="[0-9]{,3}")
                            .form-group
                                label(for='age') Ваш возраст
                                input#age(type='text' name='' maxlength='3' placeholder='28' pattern="[0-9]{,3}")
                        button(type='submit') Записаться




