@import "variables";
@import "smart-grid";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');
@include reset();


body {
  background: $bg-1;
  font-family: 'Arsenal', sans-serif;
  font-size: 14px;
}

.debug {
  display: none;
  @include debug(rgba(0,0,0,0.1), 1px solid #ff1);
}

.wrapper {
  @include wrapper;
}

.title {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
  color: $text-1;
  font-size: 36px;
  padding: 30px 0 23px;
  position: relative;
  text-align: center;
  z-index: 1;

  h1 {
    font-weight: bold;
  }
  &--up {
    text-transform: uppercase;
  }
  &--norm {
    font-weight: normal;
  }
  &--cross {
    font-weight: normal;
    text-decoration: line-through;
  }
  &--red {
    color: $text-4;
  }
}


header {
  background: url("../img/bg.jpg") no-repeat center top;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px;
}

.left-block {
  display: flex;
  flex-direction: column;
}

.attention {
  background: $bg-2;
  border: solid 5px #ffffff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 20px 14px 25px;
  width: 320px;

  h3 {
    color: $text-2;
    font-size: 18px;
    margin-bottom: 5px;
    strong {
      font-weight: bold;
    }
  }
}

.time {
  &--items {
    display: flex;
    justify-content: space-around;
  }
  &--item {
    align-items: center;
    background-color: #ffffff;
    border: solid 1px #c0bfc3;
    border-radius: 4px;
    box-shadow: inset 0 5px 0 0 rgba(0, 0, 0, 0.05);
    color: $text-3;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    width: 50px;
  }
  &--count {
    font-size: 30px;
    line-height: 19px;
    padding-bottom: 7px;
    &--red {
      color: $text-4;
      font-weight: bold;
    }
  }
  &--definition {
    font-size: 14px;
    line-height: 11px;
  }
}

.right-block {
  width: 465px;
}

.register {
  border: solid 10px #ffffff;
  background: rgb(255,213,0); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,213,0,1) 0%, rgba(255,213,0,1) 50%, rgba(255,118,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,213,0,1) 0%,rgba(255,213,0,1) 50%,rgba(255,118,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,213,0,1) 0%,rgba(255,213,0,1) 50%,rgba(255,118,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd500', endColorstr='#ff7600',GradientType=0 ); /* IE6-9 */
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 13px 10px;
  width: 360px;

  .form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 15px;

    &-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;
      label {
        color: $text-3;
        font-size: 16px;
        margin-bottom: 3px;
      }
      input {
        background-color: #ffffff;
        border: solid 1px #c0bfc3;
        border-radius: 5px;
        box-shadow: inset 0 5px 0 0 rgba(0, 0, 0, 0.05);
        box-sizing: border-box;
        font-size: 24px;
        height: 60px;
        line-height: 60px;
        padding: 0 12px;

        &::-webkit-input-placeholder {
          color: $text-5;
        }
        &::-moz-placeholder          {
          color: $text-5;
        }/* Firefox 19+ */
        &:-moz-placeholder           {
          color: $text-5;
        }/* Firefox 18- */
        &:-ms-input-placeholder      {
          color: $text-5;
        }
      }

    }

    .person {
      display: flex;
      justify-content: space-between;

      .form-group {
        width: 87px;
      }
    }
    button {
      background: url("../img/button.png") no-repeat;
      border: none;
      color: $text-2;
      font-family: 'Arsenal', sans-serif;
      font-size: 30px;
      height: 60px;
      letter-spacing: 1px;
      margin-bottom: 5px;
      margin-top: 4px;
      outline: none;
      text-transform: uppercase;
      width: 292px;
    }
  }

  h3 {
    color: $text-3;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}
.proposal {
  margin-top: 20px;
  margin-left: 45px;

  .sale {
    background: url("../img/sale.png");
    box-sizing: border-box;
    color: $text-2;
    display: flex;
    height: 286px;
    flex-direction: column;
    font-family: 'Arsenal', sans-serif;
    padding: 12px 0 0 35px;
    position: relative;
    width: 270px;

    &--title {
      font-size: 44.7px;
      font-weight: bold;
      letter-spacing: 1px;
      padding-left: 12px;
      transform: rotate(-17deg);
    }
    &--count {
      font-size: 74.7px;
      font-weight: 400;
      letter-spacing: 2.2px;
      line-height: 50px;
      margin-top: 13px;
      padding-left: 24px;
    }
  }
  .old-price {
    color: $text-4;
    font-weight: bold;
    text-align: right;

    &--title {
      font-size: 18px;
      padding-right: 42px;
      padding-top: 12px;
    }
    &--count {
      font-size: 38.2px;
      line-height: 35px;
      padding-right: 40px;
      text-decoration: line-through;
    }
  }
  .new-price {
    background: url("../img/price.png") no-repeat;
    color: $text-2;
    display: flex;
    height: 196px;
    flex-direction: column;
    position: absolute;
    left: -75px;
    top: 87px;
    width: 198px;

    &--title {
      font-size: 26.1px;
      font-weight: 100;
      letter-spacing: 0.5px;
      line-height: 18px;
      padding-left: 43px;
      padding-top: 43px;
    }
    &--count {
      font-size: 60px;
      font-weight: bold;
      line-height: 60px;
      text-align: center;

      span {
        font-size: 45.6px;
      }

    }
  }
}
/* media query */
@media (max-width: 1230px) {
  .right-block {
    width: 380px;
  }
}
@media (max-width: 1060px) {
  header {
    background-position: 60% top;
  }
  .right-block {
    width: 380px;
  }
}
@media (max-width: 970px) {
  header {
    background: url("../img/bg-2.jpg") 62% top;
  }

}
@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
  header {
    align-items: center;
    background: #D5D5D5 url("../img/bg-3.jpg") no-repeat 30% 155px;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .proposal {
    margin-top: 185px;
    margin-left: 75px;
  }
  .attention {
    padding: 20px 12px 25px;
    margin-left: 15px;
  }
  .right-block,
  .register {
    width: 320px;
  }
  .register {
    margin-top: 0;
    padding: 15px 5px;

    .form {
      margin: 0;
      padding: 0;

      button {
        background-size: contain;
        margin-top: 8px;
        width: 280px;
      }
    }

    h3 {
      line-height: 22px;
    }

    .form-group label {
      margin-bottom: 1px;
    }
  }
}
@media (max-width: 400px) {
  header {
    background-position-x: 50%;
    justify-content: center;
  }
  .right-block,
  .register {
    width: 320px;
  }
  .register {
    padding: 13px 10px;
  }
  .proposal {
    margin-left: 75px;
  }
  .attention {
    margin-left: 12px;
  }
}